@{
    ViewData["Title"] = "Marketing";
}

<input type="hidden" id="useridprofile" value="@ViewBag.UserId" />

<div class="p-4 pb-0 header_blogpost">
    <div class="">
        <div class="w-100" style="height:200px;border-radius:15px;background-color:var(--color8);"></div>
        @* <img class="w-100" src="~/Image/users/background/Test.jpg" style="height:200px;border-radius:15px;object-fit:cover" /> *@
    </div>
    <div class="position-relative ms-4" style="margin-top:-40px;">
        <div class="d-flex justify-content-center align-items-center logoheader_blogpost">
            <label><i class="bi bi-bar-chart-line"></i></label>
        </div>
    </div>
    <div class="mt-2">
        <div class="listpathfolder">
            <label class="labelheader_blogpost fw-bold ms-4">@ViewData["Title"]</label>
        </div>
        <input type="hidden" id="pathfolderid" />
    </div>
    <div>
        <hr class="border_blogpost" />
    </div>
    <div>
        <ul class="nav nav-tabs d-flex justify-content-between" style="border-bottom:none">
            <li>
                <ul class="nav nav-tabs " id="headertab" role="tablist" style="border-bottom:none">
                    <li class="nav-item" role="presentation">
                        <button class="btn px-3 pb-2 text-nowrap tabs active" id="post-tab" data-bs-toggle="tab" data-bs-target="#post-tab-pane" type="button" role="tab" aria-controls="post-tab-pane" aria-selected="true">โพสต์</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="btn px-3 pb-2 text-nowrap tabs" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-tab-pane" type="button" role="tab" aria-controls="file-tab-pane" aria-selected="false">ไฟล์</button>
                    </li>
                </ul>
            </li>
            <li class="lifilemanage">
                <ul class="nav nav-tabs" style="border-bottom:none">
                    <li class="me-2">
                        <button class="btnnewfolder_filemanage px-3 py-2 w-100" style="margin-top:-50%" hidden><i class="bi bi-folder me-2"></i><span>โฟลเดอร์ใหม่</span></button>
                    </li>
                    <li>
                        <button class="btnuploadfile_filemanage px-3 py-2 w-100" style="margin-top:-50%" hidden><i class="bi bi-upload me-2"></i><span>อัปโหลดไฟล์</span></button>
                        <input type="file" class="form-control uploadfile_filemanage" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.presentationml.slideshow, application/vnd.openxmlformats-officedocument.presentationml.presentation, .pdf, image/png, image/jpeg, video/mp4, audio/mp3, .zip" multiple hidden />
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content" id="headertabcontent">
    <div class="tab-pane fade show active" id="post-tab-pane" role="tabpanel" aria-labelledby="post-tab" tabindex="0">
        <div class="mt-4 p-4 blogpost" hidden>
            <div class="d-flex align-items-top">
                <div>
                    @if (ViewBag.ImageProfileUesr != null)
                    {
                        <a asp-controller="Account" asp-action="Profile" asp-route-id="@ViewBag.UserId">
                            <img class="userimageprofile_blogpost" src="/Image/users/profile/@ViewBag.ImageProfileUesr" />
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Profile" asp-route-id="@ViewBag.UserId">
                            <img class="userimageprofile_blogpost" src="/Image/users/profile/ProfileUser_None.jpg" />
                        </a>
                    }
                </div>
                <div class="ms-4 d-flex flex-column w-100">
                    <div>
                        <button type="button" class="form-control text-nowrap text-start shadow-none btn_blogpost p-3" data-bs-toggle="modal" data-bs-target="#CreateBlogPost">คุณกำลังคิดอะไรอยู่</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <button class="actionimagevideo_blogpost">
                    <i class="bi bi-image me-2"></i>
                    <span>รูปภาพ / วิดีโอ</span>
                </button>
            </div>
        </div>
        <div class="blogpostfeed"></div>
    </div>

    <div class="tab-pane fade" id="file-tab-pane" role="tabpanel" aria-labelledby="file-tab" tabindex="0">
        <div class="pt-2 px-0">
            <table class="table table-borderless table_filemanage align-middle text-start" style="border-collapse:separate;border-spacing: 0 1em;">
                <thead>
                    <tr>
                        <th scope="col">
                            <label>ชื่อ</label>
                        </th>
                        <th scope="col" class="text-center">
                            <label>วันที่อัปโหลด</label>
                        </th>
                        <th scope="col" class="text-center">
                            <label>ขนาดไฟล์</label>
                        </th>
                        <th scope="col" class="text-center">
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



@*CreateBlogPostModal*@
<div class="modal fade blogpostmodal" id="CreateBlogPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <label class="modal-title title_blogpostmodal fw-bold">สร้างโพสต์</label>
                <button type="button" class="btn close_blogpostmodal position-absolute end-0 me-3 px-2 py-1" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row align-items-center">
                    @if (ViewBag.ImageProfileUesr != null)
                    {
                        <img class="userimageprofile_blogpostmodal" src="/Image/users/profile/@ViewBag.ImageProfileUesr" />
                    }
                    else
                    {
                        <img class="userimageprofile_blogpostmodal" src="/Image/users/profile/ProfileUser_None.jpg" />
                    }
                    <div class="ms-2 d-flex flex-column">
                        <label class="usernameprofile_blogpostmodal fw-bold">@ViewBag.UserName</label>
                        <button class="btn btn_menugroup_blogpostmodal mt-1 py-1"><i class="bi bi-laptop me-2"></i>@ViewData["Title"]</button>
                    </div>
                </div>
                <div class="mt-3 documenteditor">
                    <div class="mt-3" id="Editor_Blogpost"></div>
                </div>
                <button type="button" class="btn viewimagevideoall_blogpostmodal position-absolute px-3 py-2 mt-3 shadow-sm" data-bs-toggle="modal" data-bs-target="#ViewImageVideoAllBlogPost" hidden><i class="bi bi-images me-2"></i><span>รูปภาพ/วิดีโอ ทั้งหมด</span></button>
                <button type="button" class="btn closeimagevideo_blogpostmodal position-absolute end-0 px-2 py-1 mt-3" hidden><i class="bi bi-x-lg"></i></button>
                <div class="listpreviewimagevideo_blogpostmodal p-2" hidden></div>
            </div>
            <div class="modal-footer pt-0" style="border-top:none;">
                <div class="d-flex justify-content-around align-items-center w-100 px-1 py-2 miniaction_blogpostmodal">
                    <button class="actionimagevideo_blogpostmodal d-flex align-items-center justify-content-center">
                        <i class="bi bi-image me-2"></i>
                        <span class="labelcursor_blogpost">รูปภาพ / วิดีโอ</span>
                    </button>
                    <input type="file" class="form-control uploadimagevideofile_blogpostmodal" accept="image/png, image/jpeg, video/mp4" multiple hidden />
                </div>
                <button type="button" class="w-100 rounded-pill mt-2 py-2 btn_post_blogpost btnonetime" disabled>โพสต์</button>
                <input type="hidden" id="editpostid" />
                <input type="hidden" id="mediapostvalue" />
            </div>
        </div>
    </div>
</div>

@*ViewImageVideoAllBlogPostModal*@
<div class="modal fade" id="ViewImageVideoAllBlogPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="btn close_blogpostmodal position-absolute start-0 ms-3 px-2 py-1" data-bs-toggle="modal" data-bs-target="#CreateBlogPost"><i class="bi bi-arrow-left"></i></button>
                <label class="modal-title title_blogpostmodal fw-bold">รูปภาพ/วิดีโอ ทั้งหมด</label>
            </div>
            <div class="modal-body p-2" style="background-color:var(--color8);border-radius:0px 0px 25px 25px">
            </div>
        </div>
    </div>
</div>

@*ViewImageVideoModal*@
<div class="modal fade overflow-hidden" id="ViewImageVideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl ratio">
        <div class="carousel_bg_blogpost"></div>
        <div class="modal-content position-relative" style="background-color: rgb(255 255 255 / 0.00);border-radius:25px;border: none">
            <div class="modal-body">
                <div id="carouselviewimagevideo" class="carousel slide">
                    <div class="carousel-inner text-center">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselviewimagevideo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselviewimagevideo" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@*ViewLikeBlogPostModal*@
<div class="modal fade blogpostmodal" id="ViewLikeBlogPost" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header pb-0" style="border-bottom:none;">
                <div class="d-flex px-3 py-2 likelabel_blogpostmodal">
                    <i class="bi bi-heart-fill me-2"></i>
                    <span></span>
                </div>
                <button type="button" class="btn close_blogpostmodal position-absolute end-0 me-3 px-2 py-1" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body ListLikeBlogPost p-0 pt-3" style="overflow-x: hidden;height: calc(100vh - 600px);">
            </div>
        </div>
    </div>
</div>

@*ErrorBlogPostModal*@
<div class="modal fade" id="ErrorBlogPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:var(--color14);">
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-flex flex-column">
                            <i class="bi bi-exclamation-circle emojierror_errorblogpostmodal"></i>
                            <label class="headlabelerror_errorblogpostmodal"></label>
                            <label class="labelerror_errorblogpostmodal mt-2"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border-top:none;">
                <button type="button" class="shadow rounded-pill mt-2 py-2 px-4 btnerror_errorblogpostmodal fw-bold">ลองอีกครั้ง</button>
            </div>
        </div>
    </div>
</div>

@*DeleteBlogPostModal*@
<div class="modal fade" id="DeleteBlogPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <label class="modal-title title_blogpostmodal fw-bold">คุณต้องการลบโพสต์ใช่ไหม</label>
                <button type="button" class="btn close_blogpostmodal position-absolute end-0 me-3 px-2 py-1" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-flex flex-column">
                            <i class="bi bi-trash icondelete_deleteblogpostmodal"></i>
                            <label class="labeldelete_deleteblogpostmodal mb-3">คุณต้องการลบโพสต์นี้ใช่หรือไม่</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border-top:none;">
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btncancel_deleteblogpostmodal fw-bold" data-bs-dismiss="modal" aria-label="Close">ไม่ใช่</button>
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btndsubmit_deleteblogpostmodal fw-bold btnonetime" data-bs-dismiss="modal" aria-label="Close">ลบ</button>
                <input type="hidden" id="deletepostid" />
            </div>
        </div>
    </div>
</div>

@*DeleteCommentBlogPost*@
<div class="modal fade" id="DeleteCommentBlogPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <label class="modal-title title_blogpostmodal fw-bold">คุณต้องการลบความคิดเห็นใช่ไหม</label>
                <button type="button" class="btn close_blogpostmodal position-absolute end-0 me-3 px-2 py-1" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-flex flex-column">
                            <i class="bi bi-trash icondelete_commentblogpostmodal"></i>
                            <label class="labeldelete_commentblogpostmodal mb-3">คุณต้องการความคิดเห็นนี้ใช่หรือไม่</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border-top:none;">
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btncancel_deletecommentblogpostmodal fw-bold" data-bs-dismiss="modal" aria-label="Close">ไม่ใช่</button>
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btndsubmit_deletecommentblogpostmodal fw-bold btnonetime" data-bs-dismiss="modal" aria-label="Close">ลบ</button>
                <input type="hidden" id="deletecommentid" />
            </div>
        </div>
    </div>
</div>

@*DeleteFileManageModal*@
<div class="modal fade" id="DeleteFileManage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <label class="modal-title title_filemanagemodal fw-bold">คุณต้องการลบไฟล์ใช่ไหม</label>
                <button type="button" class="btn close_blogpostmodal position-absolute end-0 me-3 px-2 py-1" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-flex flex-column">
                            <i class="bi bi-trash icondelete_deletefilemanagemodal"></i>
                            <label class="labeldelete_deletefilemanagemodal mb-3">คุณต้องการลบไฟล์นี้ใช่หรือไม่</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border-top:none;">
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btncancel_deletefilemanagemodal fw-bold" data-bs-dismiss="modal" aria-label="Close">ไม่ใช่</button>
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btndsubmit_deletefilemanagemodal fw-bold btnonetime" data-bs-dismiss="modal" aria-label="Close">ลบ</button>
                <input type="hidden" id="deleteattachmentid" />
            </div>
        </div>
    </div>
</div>

@*DeleteFolderFileManageModal*@
<div class="modal fade" id="DeleteFolderFileManage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <label class="modal-title title_filemanagemodal fw-bold">คุณต้องการลบโฟลเดอร์ใช่ไหม</label>
                <button type="button" class="btn close_blogpostmodal position-absolute end-0 me-3 px-2 py-1" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-flex flex-column">
                            <i class="bi bi-trash icondelete_deletefilemanagemodal"></i>
                            <label class="labeldelete_deletefilemanagemodal mb-3">คุณต้องการลบโฟลเดอร์นี้ใช่หรือไม่</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border-top:none;">
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btncancel_deletefilemanagemodal fw-bold" data-bs-dismiss="modal" aria-label="Close">ไม่ใช่</button>
                <button type="button" class="rounded-pill mt-2 py-2 px-5 btndsubmit_deletefolderfilemanagemodal fw-bold btnonetime" data-bs-dismiss="modal" aria-label="Close">ลบ</button>
                <input type="hidden" id="deletefolderid" />
            </div>
        </div>
    </div>
</div>

@*SuscessBlogPostModal*@
<div class="modal fade" id="SuccessBlogPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:var(--color19);">
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-flex flex-column">
                            <i class="bi bi-check-circle emojisuccess_successblogpostmodal"></i>
                            <label class="headlabelsuccess_successblogpostmodal"></label>
                            <label class="labelsuccess_successblogpostmodal mt-2"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border-top:none;">
                <button type="button" class="shadow rounded-pill mt-2 py-2 px-4 btnsuccess_successblogpostmodal fw-bold">ตกลง</button>
            </div>
        </div>
    </div>
</div>